body {
    margin-bottom: 0;
    overflow-x: hidden;
    background-color: #000;
}

.footer {
    background: #000;
    padding: 40px 0px;
    font-family: -apple-system, -apple-system,  
                    BlinkMacSystemFont, 'Segoe UI', Roboto,  
                    Oxygen, Ubuntu, Cantarell, 'Open Sans',  
                    'Helvetica Neue', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
}

.footer .row a, .footer .row ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row a i, .footer .row ul li a i {
    font-size: 2em;
    margin: 0% 1%;
    transition: transform 0.3s ease-in-out;
}

.footer .row a:hover i, .footer .row ul li a:hover i {
    transform: scale(1.2); /* You can adjust the scale factor as per your preference */
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

@media (max-width: 720px) {
    .footer {
        text-align: center;
        padding: 5%;
    }
    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        padding-left: 5%;
    }
    .footer .row a i, .footer .row ul li a i {
        margin: 0% 3%;
    }
}
